html, body {
  margin: 0;
  background-color: #3a2e3f;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

canvas {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  transform-origin: center top;
}

@font-face {
  font-family: "kenvector_future";
	font-style: normal;
	font-weight: 400;
	src: url("./assets/bonus/kenvector_future.ttf");
}